<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body style="background-image:url('/images/WhatsApp Image 2023-02-20 at 20.48.32.jpeg');">

    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container" style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <a class="navbar-brand" href="#">India Tourism</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/aboutus">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/contactus">Contact Us</a>
                        </li>

                        <% if (flag===false) {%>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Admin Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/register">Admin Register</a>
                            </li>
                            <%}else{%>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/admin">Admin Page</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/logout">Log out</a>
                                </li>

                                <%} %>


                    </ul>
                    <% if (flag===false) {%>
                        <form class="d-flex" action="/calls" method="post">
                            <input class="form-control me-2" type="tel" placeholder="Phone number" aria-label="Phone number" name="phone">
                            <button class="btn btn-outline-primary text-nowrap" type="submit">Call me</button>
                        </form>
                        <%}%>
                </div>
            </div>
        </nav>


    </header>

    <main>



        <div class="container">
            <div class="text-center pt-5" style="font-family:serif; font-size: larger;">
                <h2>Our Mission</h2>
            </div>

            <div style="font-style: italic; font-size: larger;">
                <p>Our mission is to provide the ultimate travel planning experience, while becoming a one stop shop for every travel service available in the industry. Domestic, Airline tickets, Railway Tickets, Visa Assistance, hotel in India, worldwide
                    luxury resorts, car rentals..</p>
            </div>

            <div class="text-center pt-5" style="font-family:serif; font-size: larger;">
                <h2>Our Vision</h2>
            </div>

            <div style="font-style: italic; font-size: larger;">
                <p>To strengthen our position as the leading tourism company providing quality, creative, innovative, competitive and socially responsible services in the region.</p>
            </div>

            <div class="text-center pt-5" style="font-family:serif; font-size: larger;">
                <h2>MD message</h2>
            </div>

            <div style="font-style: italic; font-size: larger;">
                <p>Having travelled a long way across the country we have gained a great lot experiences while exploring the crude corners Jhe nature. Staring from the peaks and pits to rustie terrains and thorny valleys we have walked along the tranquil
                    shores seas.We India Tourism, offer the most exquisite tour packages for the travellers and nature enthusiasts to make their holiday ever memorable chapters of life. We pride ourselves for our ability in creating and organizing stand
                    out package tours all over India and satisfy our customers to the fullest extent. We have continually expanded our expertise over time while innovating and exploring new horizons of the nature and helping our customers to make their
                    holidays a lifetime experience that would never fade out with the time flying off. We have marked our names amongst the top tour operators in Kolkata, India by outstanding services provided to our customers. Wo are committed to provide
                    with the best quality services at most compelitive cost. We have places for all kinds people, irrespestive of age, status, cast, creeds and budgets. We understand that client satisfaction is the most important thing in the travel industry.
                    Our quality of services speaks about our profle.</p>
            </div>

        </div>



    </main>




    <footer class="navbar navbar-expand-lg navbar-light  mt-3">
        <div class="container py-3">
            <p class="copy mb-0">&copy;2023,All Rights Reserved</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Contact us
</button>
        </div>
    </footer>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action='/contact' method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">

                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="tel" class="form-control" id="phone" name="phone">

                        </div>

                        <div class="mb-3">
                            <label for="message" class="form-label">Enquiry</label>
                            <textarea type="text" class="form-control" id="name" name="message"></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>





    <script src="/js/bootstrap.min.js"></script>
</body>




</html>