<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body style="background-image:url('/images/WhatsApp Image 2023-02-20 at 20.48.32.jpeg');background-size: 100% 200%;font-style: italic; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

    <div class="row">
        <h1 class="text-center">New Post</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/admin" method="POST" enctype="multipart/form-data" style="font-style: italic; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-control" type="text" id="country" name="country" required>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" required name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input type="file" class="form-control" id="image" name="image" multiple>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Information</label>
                    <textarea class="form-control" type="text" id="info" required name="info"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" type="number" id="price" name="price" required>
                </div>

                <div id="fg" class="mb-3">
                    <h4>Add Travel Itiniery</h4>
                    <div class="mb-3">
                        <label class="form-label" for="description">Day 1</label>
                        <textarea class="form-control" type="text" id="info" required name="itiniery1"></textarea>
                    </div>

                </div>

                <button class="btn btn-success" type="button" onclick="addmore()">Add Another day</button>
                <button class="btn btn-success" type="button" onclick="deletes()">Delete current day</button>


                <script defer>
                    let v = 2;

                    function addmore() {


                        var d = document.createElement("div");
                        d.setAttribute("class", "mb-3");


                        var l = document.createElement("label");
                        l.setAttribute("class", "form-label");
                        l.setAttribute("for", "description");
                        let temp = "Day";
                        let temp2 = v.toString();
                        l.innerText = temp.concat(" " + temp2);

                        let r = "itiniery".concat(temp2);


                        var text = document.createElement("textarea");
                        text.setAttribute("class", "form-control");
                        text.setAttribute("type", "text");
                        text.setAttribute("name", r);

                        d.appendChild(l);
                        d.appendChild(text);

                        document.getElementById('fg').append(d);

                        v++;
                    }
                </script>


                <div class="mb-3 text-center">
                    <button class="btn btn-success">Add Post</button>
                </div>
            </form>
        </div>
    </div>

</body>



</html>